<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bpetrynski.prefs</string>
	<key>connections</key>
	<dict>
		<key>08CE4DC1-A14A-40F4-8FD9-E04440CF302E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D883217-B873-444C-93F1-4E8AC8F0B847</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>216AE098-C003-457E-821B-D067135ACD10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0668017-3C01-4689-BCA8-FA00BBDD470D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AC98901-6370-4B61-BDB6-DA8D80E37AB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DFB6D6E-C55E-427D-B831-BC9AF8108832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D883217-B873-444C-93F1-4E8AC8F0B847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7239A78-1A85-43BF-B919-85CB05D2EEFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A3D5154-FFA2-4163-8A57-32A2DFF91975</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6417153A-6ED8-40D8-B8AE-DDE502D914A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>747F3FF1-A026-4C58-85A5-31CBFFD49AA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>747F3FF1-A026-4C58-85A5-31CBFFD49AA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DFB6D6E-C55E-427D-B831-BC9AF8108832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>408FEC66-31D0-4A13-8B41-7BCE054A4DE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DFB6D6E-C55E-427D-B831-BC9AF8108832</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08CE4DC1-A14A-40F4-8FD9-E04440CF302E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7239A78-1A85-43BF-B919-85CB05D2EEFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>216AE098-C003-457E-821B-D067135ACD10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0668017-3C01-4689-BCA8-FA00BBDD470D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03AEF019-12E3-4701-8CF1-F5AEA65DD933</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CEE9AA75-AD84-4F96-BA8E-94704D286B15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB88570D-F3C5-4194-AFC0-73FC460334F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0668017-3C01-4689-BCA8-FA00BBDD470D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEE9AA75-AD84-4F96-BA8E-94704D286B15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F057A62D-3701-4845-8887-9C2CA0489A4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bartosz Petrynski</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>111TODO-open-prefs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>4D883217-B873-444C-93F1-4E8AC8F0B847</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Text","arg":"keyboard,Text","subtitle":"Opens Text pane in keyboard preferences"},{"title":"Keyboard","arg":"keyboard,Keyboard","subtitle":"Opens Keyboard pane in keyboard preferences"},{"title":"Shortcuts","arg":"keyboard,Shortcuts","subtitle":"Opens Shortcuts pane in keyboard preferences"},{"title":"Input Sources","arg":"keyboard,Input Sources","subtitle":"Opens Input Sources pane in keyboard preferences"},{"title":"Dictation","arg":"keyboard,Dictation","subtitle":"Opens Dictation pane in keyboard preferences"}]</string>
				<key>keyword</key>
				<string>p</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6A3D5154-FFA2-4163-8A57-32A2DFF91975</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>6417153A-6ED8-40D8-B8AE-DDE502D914A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Preferences"	activate	set current pane to pane id "com.apple.preference.keyboard"end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CB88570D-F3C5-4194-AFC0-73FC460334F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>08CE4DC1-A14A-40F4-8FD9-E04440CF302E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/System Preferences.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9DFB6D6E-C55E-427D-B831-BC9AF8108832</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "System Preferences"	activate	tell current pane to reveal anchor "{query}"end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA8F6AFD-08DA-4AD3-861D-6FEEE20B2AE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>03AEF019-12E3-4701-8CF1-F5AEA65DD933</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>C0668017-3C01-4689-BCA8-FA00BBDD470D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>pane</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3AC98901-6370-4B61-BDB6-DA8D80E37AB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "System Preferences"	activate	tell current pane to reveal anchor "{query}"end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F057A62D-3701-4845-8887-9C2CA0489A4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>747F3FF1-A026-4C58-85A5-31CBFFD49AA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEE9AA75-AD84-4F96-BA8E-94704D286B15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "System Preferences"	activate	set current pane to pane id "com.apple.preference.{query}"end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>216AE098-C003-457E-821B-D067135ACD10</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B7239A78-1A85-43BF-B919-85CB05D2EEFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>408FEC66-31D0-4A13-8B41-7BCE054A4DE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03AEF019-12E3-4701-8CF1-F5AEA65DD933</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>08CE4DC1-A14A-40F4-8FD9-E04440CF302E</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>159A291E-3339-491E-8D3F-79091BE0319B</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>216AE098-C003-457E-821B-D067135ACD10</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>3AC98901-6370-4B61-BDB6-DA8D80E37AB6</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>408FEC66-31D0-4A13-8B41-7BCE054A4DE0</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>4D883217-B873-444C-93F1-4E8AC8F0B847</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6417153A-6ED8-40D8-B8AE-DDE502D914A2</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>6A3D5154-FFA2-4163-8A57-32A2DFF91975</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>747F3FF1-A026-4C58-85A5-31CBFFD49AA1</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>9DFB6D6E-C55E-427D-B831-BC9AF8108832</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B7239A78-1A85-43BF-B919-85CB05D2EEFC</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>C0668017-3C01-4689-BCA8-FA00BBDD470D</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>CB88570D-F3C5-4194-AFC0-73FC460334F5</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>CEE9AA75-AD84-4F96-BA8E-94704D286B15</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>DA8F6AFD-08DA-4AD3-861D-6FEEE20B2AE9</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F057A62D-3701-4845-8887-9C2CA0489A4A</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
